<ion-view view-title="Home" hide-back-button="true">
  <ion-content class="padding-top">
    <div class="list text-center padding">
            <i class="icon ion-android-walk -b medium positive"></i>
          </div>

            <div class="col text-center">

          <h1>Hello {{ user.firstname }}!</h1>
    <h4>You are on Team: {{user.team}}</h4>
    
  

      <h4>You have not logged your steps since: {{lastDate | date}}</h4>
      
      <h4>You have logged: {{total}} steps,</h4>
      <h4>that's {{distancemiles}} miles!</h4>
      
      <h4>You are averaging {{averagestepsperday}} steps per day!</h4>

      <h4>Only {{distancetoprize}} steps until you are eligible for prize!</h4>

      <h4>Only {{distancetogoal}} steps until you reach your goal!</h4>
      
      
      <br><br><br><br>

      <div>
        <image src="https://www.sce.com/wps/scethemeresponsive/static/themes/scethemeresponsive/images/apple-touch-icon-144x144-precomposed.png" height="100" />
        <i class="icon ion-android-walk -b medium black" ng-style="vegasStyles"></i>
        <image src="https://honeymoonpixie.com/assets/shutterstock_5704870s(1).jpg" height="100"/>
        <md-progress-linear md-mode="determinate" value="{{distancetovegas}}" style="padding:25%"></md-progress-linear>
      </div>


      <br><br>

      <h4>You are {{distancetovegas | number:0}}% of the way to vegas!</h4>
      <!-- Enter steps taken for -->
    <!--   
      <form name="stepForm" novalidate ng-submit="stepForm.$valid && submitSteps()">
        <md-datepicker ng-model="stepLog.date" ng-change="onDateSelect()"  name="pickeddate" md-min-date="minDate" md-max-date="maxDate" md-is-error="stepForm.pickeddate.$invalid"></md-datepicker>

        <div class="form-error" ng-messages="stepForm.pickeddate.$error" ng-if="stepForm.$submitted">
          <div ng-message="valid">The entered value is not a date!</div>
          <div ng-message="required">This date is required!</div>
          <div ng-message="mindate">Date is too early!</div>
          <div ng-message="maxdate">Date is too late!</div>
        </div>

        <br />
        <md-input-container>
          <label>Steps </label>
          <input name="steps" type="number" ng-model="stepLog.steps"
          ng-min="1"
          ng-max="50000"
          required />
        </md-input-container>
        <div class="form-errors" ng-messages="stepForm.steps.$error" ng-if="stepForm.$submitted">
          <div class="form-error" ng-message="required">This field is required.</div>              
          <div class="form-error" ng-message="min">You must log at least 1 step!</div>
          <div class="form-error" ng-message="max">You tried to log greater than 50,000 steps!!!</div>
        </div>
        <br />
        <md-button type="submit" class="button button-positive">Submit</md-button>
      </form> -->

     <!-- ng-click="submitSteps()" -->

    <!--   <h2>Your logged steps:</h2>

    <table class="loggedsteps" style="width:100%">
      <caption>Your logged steps: </caption>
      <tr>
          <th> Date </th>
          <th> Steps </th>
      </tr>
      <tr ng-repeat="x in entries | orderBy: 'date'">
          <td>{{ x.date | date}}</td>
          <td>{{ x.steps }}</td>
      </tr>
      <tr>
           <td>Total:</td>
           <td>{{ total }}</td>
     </tr>
    </table>
       -->
   

   <!--  <div class="padding-bottom">
        <input ng-click="logOut()" class="button button-block button-positive" value="Log Out">
     </div> -->

     </div>
  </ion-content>


</ion-view>
